@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;

   font-family: 'montserrat', Arial;
   font-size: 13px;
}

body {
   overflow-x: hidden;
}

/* ===== header ===== */
header {
   background-color: #000000;
   height: 100px;
   color: #ffffff;
}

.header {
   max-width: 1140px;
   height: 100%;
   margin: auto;

   display: flex;
   align-items: center;
}

.logo {
   width: 80px;
}

.logo img {
   width: 100%;
   height: 100%;
}

.logo img:hover {
   transform: scale(1.5);
}

.menu {
   flex: 1;
}

.menu ul {
   display: flex;
   justify-content: flex-end;
   list-style: none;
}

.menu li a {
   color: #ffffff;
   text-transform: uppercase;
   text-decoration: none;
   font-weight: 600;

   padding: 0 10px;

   display: flex;
   align-items: center;
   height: 100px;
   border-bottom: 5px solid #000000;
}

.menu .active a,
.menu li a:hover {
   border-bottom: 5px solid #b28756;
   color: #bbbbbb;
}

/* ===== banner ===== */

.banner {
   background-image: url('./assets/images/bg.jpg');
   background-size: cover;
   background-position: bottom;
   height: calc(100vh - 130px);
   overflow: hidden;
}

.banner .sliders {
   width: 1000vw;
   height: 100%;
}

.banner .slide {
   width: 100vw;
   height: 100%;
   display: inline-block;

   background-color: rgba(0, 0, 0, 0.8);
}

.banner .slidearea {
   height: 100%;

   display: flex;
   justify-content: center;
   flex-direction: column;

   align-items: center;
   text-align: center;

   color: #ffffff;
}

.banner .slide h1 {
   font-size: 50px;
   text-transform: uppercase;
   font-weight: bold;
}

.banner .slide span {
   font-size: 50px;
   color: #b28756;
}

.banner .slide h2 {
   font-size: 18px;
   margin-top: 15px;

   text-transform: uppercase;
}

.banner .slide a {
   border-radius: 20px;

   margin-top: 35px;
   padding: 10px 25px;

   font-weight: bold;
   text-decoration: none;
   text-transform: uppercase;

   color: #ffffff;

   background-color: #b28756;

   display: flex;
   align-items: center;
   gap: 10px;
}

.banner .slide a:hover {
   transform: scale(1.1);
}

.banner .sliders-pointers {
   width: 100vw;
   height: 20px;

   position: absolute;
   margin-top: -50px;

   display: flex;
   justify-content: center;
   align-items: center;

   color: #b28756;
}

.banner .pointer {
   width: 15px;
   height: 15px;
   border: 1px solid #b28756;
   border-radius: 50%;
   margin: 0 5px;

   cursor: pointer;
}

.banner .active {
   background-color: #b28756;
}

/* ===== DEFAULT - FRAMEWORK ===== */

.default {
   padding-top: 50px;
   padding-bottom: 50px;
}

.default .section-title,
.default .section-desc {
   text-align: center;
   text-transform: uppercase;
   font-weight: bold;
}

.default .section-title {
   font-size: 30px;
   margin-bottom: 10px;
}

.default .section-desc {
   font-size: 13px;
   color: #bbbbbb;
   margin-bottom: 40px;
}

.default .section-body {
   margin: auto;
   max-width: 1140px;
}

.default.light {
   background-color: #f7f7f7;
}

.default .light .section-title,
.default .light .section-desc {
   color: #000000;
}

.default.dark {
   background-color: #000000;
}

.default.dark .section-title,
.default.dark .section-body {
   color: #ffffff;
}

/* ===== CONTENT-SECTIONS ===== */

/* ABOUT  */
.content-about {
   display: flex;
   justify-content: space-between;
   padding: 5px;
}

.desc-about {
   display: flex;
   flex-direction: column;
   max-width: 550px;
}

.desc-about p {
   font-size: 14px;
   line-height: 20px;
}

.desc-about a {
   width: fit-content;

   border-radius: 20px;

   padding: 10px 25px;
   margin-top: 25px;

   font-weight: bold;
   text-decoration: none;
   text-transform: uppercase;

   color: #ffffff;

   background-color: #b28756;
}

.content-about .video-about {
   display: block;
   align-items: center;
}
.content-about .video-about iframe {
   box-shadow: 5px 10px 25px #000000;
   border-radius: 5px;
}

/* SERVICE */

.content-services {
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
}

.services--desc {
   flex: 1;
   border-right: 1px solid #ffffff;

   padding: 15px;
}

.services--desc:first-child {
   border-left: 1px solid #ffffff;
}

.title-service,
.title-service span {
   font-size: 25px;
   font-weight: bold;
   margin-top: 25px;

   line-height: 30px;
}

.desc-service {
   font-size: 15px;
   margin-top: 15px;
   color: RGB(103, 103, 103);
   line-height: 20px;
}

/* PROJECTS */

.content-projects {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.projects--options {
   border: 1px solid #d5d5d5;
   background-color: #ededed;
   border-radius: 50px;

   display: inline-block;
   padding: 0 30px;
}

.projects--options li {
   list-style: none;

   display: inline-block;
   padding: 10px;

   color: #000000;
   font-size: 13px;
   text-transform: uppercase;
   border-left: 1px solid #d5d5d5;
   border-bottom: 3px solid #ededed;

   cursor: pointer;
}

.projects--options .active,
.projects--options li:hover {
   border-bottom: 3px solid #b28756;
}

.projects--options li:first-child {
   border-left: 0;
}

.area--photos {
   width: 100vw;
   max-width: 1140px;
   margin-top: 20px;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}

.area-geral-photos {
   width: 280px;
}

.area--photos--content {
   margin: 10px;
   width: 260px;
   height: 160px;
}

.area--photos--content img {
   width: 260px;
   height: 160px;
}

.area--photos--infotext {
   position: absolute;
   background-color: rgba(0, 0, 0, 0.8);
   color: #ffffff;

   width: 260px;
   height: 160px;

   display: none;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   text-align: center;
}

.area--photos--infotext h5 {
   font-size: 20px;
   font-weight: 600;
   line-height: 50px;
}

.area--photos--infotext p {
   font-size: 12px;
}

.area--photos--content:hover .area--photos--infotext {
   display: flex;
}

.content-projects .button {
   margin-top: 25px;
}
.content-projects a {
   width: fit-content;

   border-radius: 20px;

   padding: 10px 25px;

   font-weight: bold;
   text-decoration: none;
   text-transform: uppercase;

   color: #ffffff;

   background-color: #b28756;
}

/* TEAM */

.bg-team {
   background-image: url('./assets/images/bg.jpg');
   background-size: cover;
   background-position: center;
   padding: 0;
}

.section--team-area {
   background-color: rgba(0, 0, 0, 0.8);
   padding-top: 50px;
   padding-bottom: 50px;
}

.content-team {
   overflow: hidden;
   max-width: 880px;
   margin: auto;
}

.content-team .sliders {
   width: 1000vw;
   height: 100%;
}

.content-team .slide {
   width: 280px;
   height: 100%;
   display: inline-block;

   background-color: #ffffff;

   margin-right: 20px;
   min-height: 300px;
}

.content-team .slidearea {
   height: 100%;

   display: flex;
   justify-content: center;
   flex-direction: column;

   align-items: center;

   color: #ffffff;
}

.team-pointers {
   margin-top: 50px;
   height: 20px;

   display: flex;
   justify-content: center;
   align-items: center;

   color: #b28756;
}

.team-pointers .pointer {
   width: 15px;
   height: 15px;
   border: 1px solid #b28756;
   border-radius: 50%;
   margin: 0 5px;

   cursor: pointer;
}

.team-pointers .active {
   background-color: #b28756;
}
